node_modules/
.env
dist/
.DS_Store
serviceAccountKey.json
server/firebase-service-account.json
server/firebase.js
client/src/firebase.js
client/node_modules/
server/node_modules/
client/dist/
server/data/
